<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о комментарии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/css/style1.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/style2.css}" type="text/css"/>
</head>
<body>
<div th:insert="Header"></div>
<div class="container">
    <h1>Комментарий</h1>
    <tbody>
    <dl class="row">
        <dd class="col-sm-10">
            Автор: <a th:text="${comment.user.username}"/>
        </dd>
        <dd class="col-sm-10">
            Текст: <a th:text="${comment.text}"/>
        </dd>
        <dd class="col-sm-10">
            Дата создания: <a th:text="${comment.dateCreation}"/>
        </dd>
        <dd class="col-sm-10">
            Пост: <a th:text="${post.description}"/>
        </dd>
        <dd class="col-sm-10">
            Количество лайков: <a th:text="${comment.likeCount}"/>
        </dd>
        <div class="col-sm-10">
            <a class="btn btn-danger" href="/post/index">Назад</a>
        </div>
    </dl>
</div>
</body>
<div th:insert="Footer"></div>
</html>