<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/css/style1.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/style2.css}" type="text/css"/>
    <script th:src="@{/CSS/bootstrap.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/post/index">BlogSpring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/post/index">Посты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/index">Пользователи</a>
                    </li>
                </ul>
                <form>
                    <div class="form-inline form-group">
                        <input type="text" name="email"  class="form-control" placeholder="Email"/>
                        <div class="col-auto my-0">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl">
                                <label class="custom-control-label" for="customControl">Точный поиск</label>
                            </div>
                        </div>
                        <input class="btn btn-success" formmethod="get" type="submit" formaction="/user/index" value="Поиск" />
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <h1>Все пользователи</h1>
    <a class="btn btn-primary" href="/user/create" style="margin-bottom:0.5em">Добавить</a>
    <table class="table">
        <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Email
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Действия
            </th>
        </tr>
        </thead>
        <tbody th:each="el : ${users}">
        <tr>
            <td th:text="${el.surname}"/>
            <td th:text="${el.name}"/>
            <td th:text="${el.lastName}"/>
            <td th:text="${el.email}"/>
            <td th:text="${el.dateBirth}"/>
            <td>
                <div class="btn-group">
                    <form th:action="@{/user/edit}" method="post" class="pr-3">
                        <input type="hidden" th:value="${el.id}" name="id">
                        <input value="Редактировать" type="submit" class="btn btn-outline-primary">
                    </form>
                    <form th:action="@{/user/delete}" method="post" class="pr-3">
                        <input type="hidden" th:value="${el.id}" name="id">
                        <input value="Удалить" type="submit" class="btn btn-outline-danger">
                    </form>
                    <form th:action="@{/user/details}" method="post">
                        <input type="hidden" th:value="${el.id}" name="id">
                        <input value="Детали" type="submit" class="btn btn-outline-info">
                    </form>
                </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - SpringHasCome
    </div>
</footer>
</html>